@{
    ViewData["Title"] = "Product";
}

<!-- ============================================================== -->
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div id="tabel" class="row">
                <div class="col-12">
                    <div class="col-sm-4 text-sm-left">
                        <div class="card">
                            <div class="card-body">
                                </div>
                                </div>
                                </div>
                    <div class="col-sm-8 text-sm-right">
                        <div class="row ">
                            <div class="col-md-3" id="product">
                                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                                                </div>
                                            </div>
                                         <div class="col-md-9">
                                            
                                           <div class="tab-content text-muted mt-4 mt-md-0" id="v-pills-tabContent">
                                                
                                               
                                                
                                            </div>
                                            
                                        </div>

                                     </div>
                   
                                </div><!-- end col-->
                </div>
            </div>
            <!-- end row -->
        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>
<script src="~/assets/js/polo/order.js?vs=@DateTime.Now.Ticks"></script>


