<div id="modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="mySmallModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" id="createStock" onSubmit="return false;" name="createStock" data-parsley-validate data-parsley-error-message>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="product" class="control-label">Name</label>
                                <input id="productselect" type="text" class="form-control" readonly>
                            </div>
                            <div class="form-group">
                                <label for="quantity">Quantity</label>
                                <input id="quantity" type="number" class="form-control" required data-parsley-error-message="Please enter Quantity">
                            </div>
                            <div class="form-group">
                                <label for="measure">Measure</label>
                                <input id="measure" type="text" class="form-control datepicker-minToday" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="saveStock()" id="btnCreateStock" class="btn btn-primary mr-1 waves-effect waves-light">
                        <span> Save Changes </span>
                        <span style=" display:none">
                        <i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;
                        Processing...
                        </span>
                    </button>
                    <button class="btn btn-secondary waves-effect" data-dismiss="modal" aria-label="Close">
                        Cancel
                    </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


