<div id="modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">Create Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" id="createCustomer" onSubmit="return false;" name="createCustomer" data-parsley-validate data-parsley-error-message>
                <div class="modal-body">
                    <div class="row">
                        <input id="type" type="hidden">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="FirstName">First Name</label>
                                <input id="FirstName" type="text" class="form-control" required data-parsley-error-message="Please enter First Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="LastName">Last Name</label>
                                <input id="LastName" type="text" class="form-control" required data-parsley-error-message="Please enter Last Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input id="Email" type="email" class="form-control" onkeyup="ValidateEmail()">
                                <span id="lblError" style="color: red;"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Number">Number</label>
                                <input id="Number" type="text" class="form-control" required placeholder="e.g +9230983293">
                                <div class="invalid-feedback">Unknown phone number. Please use a local phone number or a number that includes the international country code (e.g., +1 for US).</div>
                            </div>
                        </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="Street">Street</label>
                                    <input id="Street" type="text" class="form-control" placeholder="enter street number or name" onkeyup="checkAddressFields()">
                                </div>
                            </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="Address">Area</label>
                                <input id="Address" type="text" class="form-control" placeholder="enter postal code, block, area" onkeyup="checkAddressFields()">
                            </div>
                        </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="City">City</label>
                                    <input id="City" type="text" class="form-control" placeholder="enter city" onkeyup="checkAddressFields()">
                                </div>
                            </div>
                            <div id="validationError" style="color: red;"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="saveCustomer()" class="btn btn-primary mr-1 waves-effect waves-light">Save Changes</button>
                    <button class="btn btn-secondary waves-effect" data-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    <!-- _RadiusExceededPartial.cshtml -->
</div>
